.first_title{
  font-family:'Inconsolata', monospace;
  font-size: 3.6em ;
  font-color: #000000;
  font-weight: 400;

  box-sizing: border-box;
  padding: 100px 10%;

}

.title{
  font-family:'Inconsolata', monospace;
  font-size: 2em ;
  font-color: #000000;
  font-weight: 400;

  box-sizing: border-box;
  padding: 10px 5% 20px;
  border: 0px;
}

.subtitle{
  font-family:'Inconsolata', monospace;
  font-size: 1.5em ;
  font-color: #000000;
  font-weight: 400;
}

.category{
  font-family:'Inconsolata', monospace;
  font-size: 1.5em;
  font-color: #0000FF;
  font-weight: 300;

  background-color: #FFFFFF;
  box-sizing : border-box;
  width: 80%;
  padding: 10px 10%;
  border: 0px;
  margin: 10px;
}

.back{
  font-family:'Inconsolata', monospace;
  font-size: 1em;
  font-color: #0000FF;
  font-weight: 300;

  padding: 10px 5% 0px;
}

.kor{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  font-color: #000000;
  font-weight: light;
}
