.first_title{
  font-family:'Inconsolata', monospace;
  font-size: 3.6em ;
  font-color: #000000;
  font-weight: 400;

  box-sizing: border-box;
  padding: 80px 8%;
}

.container{}

.reachme{
  background: #FFFFFF;
  opacity: 60;
}

.reachme_text{
  font-family:'Inconsolata', monospace;
  font-size: 1em ;
  font-color: #000000;
  font-weight: 400;

  padding: 20% 20%;
}

.title{
  font-family:'Inconsolata', monospace;
  font-size: 2em ;
  font-color: #000000;
  font-weight: 400;

  box-sizing: border-box;
  padding: 20px 5% 20px;
  border: 0px;
}

span.subtitle{
  font-family:'Inconsolata', monospace;
  font-size: 0.8em ;
  font-color: #000000;
  font-weight: 400;
}

.category{
  font-family:'Inconsolata', monospace;
  font-size: 1.5em;
  font-color: #000000;
  font-weight: 400;

  background-color: #FFFFFF;
  box-sizing : border-box;
  padding:50% 10% 0 ;
}

.back{
  font-family:'Inconsolata', monospace;
  font-size: 1em;
  font-color: #0000FF;
  font-weight: 400;

  position: absolute;
  padding: 10px 10px;
  text-align: right;
}
.content{
  font-family:'Inconsolata', monospace;
  font-size: 1em;
  font-color: #0000FF;
  font-weight: 400;

  padding: 10px 10px;
}
.contact{
  font-family:'Inconsolata', monospace;
  font-size: 1.2em;
  font-color: #0000FF;
  font-weight: 400;

  padding: 10px 5% 0px;
}

.contact_active{
  font-family:'Inconsolata', monospace;
  font-size: 1.2em;
  font-weight: 400;
  font-color: #FF0000;

  padding: 10px 5% 0px;
}

.kor{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  font-color: #000000;
  font-weight: light;
}

a:link{
  color: #000000;
}

a:visited{
  color: #000000;
}

a:hover{
  background: #9dcee0;
  color: #000000;
  text-decoration: none;
}

.back a:hover{
  color:#000000;
  text-decoration: none;
}

.contact a:link, a:visited{
  color: #000000;
  text-decoration: none;
}
.contact a:hover{
  color:#FF0000;
}

img{
  width: 40%;
  height: auto;
}
@keyframes fadeOut{
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}
